.hover-overlay {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffffff;
    background: rgba( 255, 255, 255, 1);
}

.hover-image {
    position: static;
    width: 100%;
    height: auto;
    display: table-cell;
    background-color: #fafafa;
}

.hover-image-container:hover .hover-overlay {
    opacity: 1;
}

.hover-text 
{
    font-size: 1.5em;
    vertical-align: middle;
    display: table-cell;
}